:root{
  --var(rose-hulman-red): #880000;
}
  
#picHeader {
  background-color: #880000;
  color: white;
  text-align: center;
}
  
#navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: ##880000;
  margin: 0px;
  gap: 20px;
}
  
#navBar #mainButton {
  color: black;
  margin-bottom: 20px;
}
#navBar #resumeButton {
  color: black;
  margin-bottom: 15px;
}
#navBar #portfolioButton {
  color: black;
  margin-bottom: 20px;
}

#brenPicContainer {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  
  border: 5px double #880000;
  border-radius: 5px;
  padding: 10px;
  background-color: none;
  max-width: 61%;
}

#brenPicContainer img {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
